<?xml version="1.1" ?>
<settings>
    <global>
        <Period>1.0</Period>
        <CampRange>18.0</CampRange>
        <AccountList>
            <1>
                Apuapu, Apuchan, Hullo, Apucha, Aputan
            </1>
            <2>
                Upaupa, Upasan, Upachan, Upacha, Upatan
            </2>
            <3>
                Paupau, Paupa, Paupan, Paucha, Pautan
            </3>
            <4>
                Opaopa, Opasan, Opachan, Opacha, Opatan
           </4>
        </AccountList>
        <Control>
            <Debug> off </Debug>
        </Control>
    </global>
</settings>
